# sudo vim /lib/systemd/system/containers_orchestrator.service
# sudo sh -c 'echo TOKEN=xx >/etc/default/containers_orchestrator'
# sudo systemctl daemon-reload
# sudo systemctl start containers_orchestrator
# sudo systemctl status containers_orchestrator
# sudo systemctl enable containers_orchestrator
# sudo systemctl enable docker

[Unit]
Description=Golangci containers orchestrator
After=network.target docker.service firewalld.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/containers_orchestrator
ExecStart=/home/ubuntu/go/bin/containers_orchestrator $RUN_OPTS
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=containers_orchestrator
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target